 <div class="row">
    <div class="column left" >
      <div class="logo"> </div>
      
        <p id="login">Login</p>
        <p id="admin" >Admin Access</p>
      
    

      <div id="email-container"><p id="sub-text">Email</p>
        <div id="input-container">
          <input
              id="input"
              className="input"
              placeholder="Enter your email address"
              type="text"
              onChange={onChange}
              name="email"
          /><br />
        </div>
      </div>
      
      
      <div id="password-container">
         <p id="sub-text">Password</p>
        <div id="input-container">
          <input
              id="input"
              className="input"
              placeholder="Enter your password"
              type="text"
              onChange={onChange}
              name="email"
          /><br />
          <p id="forgot-password">Forgot Password</p>
        </div>
       
        </div>
     
        <div id="btn-container">
          <button
          id="btn"
          className="btn"
          onClick={handleUserLogin}
          data-testid="send-user-login"
      >
         Sign In
      </button>

        </div>
     
      
    </div>
    <div class="column right" >
      
      <p id="service-charge">Service Charge</p>
    </div>
  </div>



