.btn {
    margin-top: 15px;
    background-color:#FF9F29;
    width: 330px;
    height: 50px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-family: 'Poppins';
    margin-left: 120px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    
  }
  .btn:hover {
    background-color: #3a5aa0e5;
  }
  
  .input {
    
    padding-left: 10px;
    margin-left: 120px;
    margin-bottom: 15px;
    border-radius: 8px;
    width: 320px;
    height: 40px;
    border: none;
    background-color: #ECECEC;
    font-family: 'Poppins';
  }
  
  input[type="text"], input[type="password"], textarea, select { 
    outline: none;
  }
  
  h2 {
    margin-top: 0px;
    margin-left: 120px;
    margin-bottom: 40px;
    font-size: 15px;
    font-family: 'Poppins';
  }
  
  .mylogo {
    margin-top:150px;
    margin-left: 110px;
    
  }
  
  .image {
    margin-top: 80px;
    padding-right: 20px;
  
  }
 
  
  
  
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  
  }


 body {
    background-color: green;
 }

 .grid-child-left {
    height: 100%;
    background-color: #FF9F29;
   
 }


 * {
    box-sizing: border-box;
  }
  

  .column {
    float: left;
    padding: 10px;
    /* height: 500px;  */
  }
  
  .left {
    background-color: #ad5954;
    width: 40%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: #ffff;
    overflow: hidden;

  }
  
  .logo {
    background-color: #4B2E2C;
    height: 50px;
    width: 50px;
   
   
  }


  
  .right {
    width: 60%;
    height: 100vh;
  
    position: relative;
  
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #input {
  
    padding-left: 10px;
    /* margin-left: 120px; */
    margin-bottom: 15px;
    border-radius: 8px;
    width: 320px;
    height: 40px;
    border: none;
    background-color: #ECECEC;
    font-family: 'Poppins';
    
  }

  #btn {
    margin-top: 15px;
    background-color:#4B2E2C;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-family: 'Poppins';
    /* margin-left: 120px; */
    color: white;
    cursor: pointer;
    transition: 0.3s;
    
  }
  #btn:hover {
    background-color: #ff7300;
  }

  #login {
    padding-top: 20px;
    padding-left: 100px;
    margin-bottom: 0%;
    font-size: 50px;
    font-family: 'Poppins';
    font-weight: 600;
  }

  #admin {
    padding-left: 100px;
    margin-top: 0%;
  }

  #sub-text {
    /* padding-top: 20px; */
    padding-left: 100px;
    margin-bottom: 3px;
  }

  #input-container { 
    padding-left: 100px;
  }
  
 #email-container {
    margin-top: 40px;
  }

 #btn-container {
  padding-left: 100px;
 }


#forgot-password {
    margin-top: 0%;
    font-size: 14px;
    color: #FFC895;
}

#service-charge{
    font-weight:900;
    font-family: 'Poppins';
    font-size: 40px;
    color: #AD5954;

  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
}