<div class="title">
    <p id="title">New Ticket</p>
</div>
<div >
    <p>Subject</p>
    <input
              id="input"
              className="input"
              placeholder=""
              type="text"
              onChange={onChange}
              name="email"
          />
    
</div>
<div >
    <p>Description</p>
    <input
    id="input"
    className="input"
    placeholder=""
    type="text"
    onChange={onChange}
    name="email"
/>
</div>

<button id="cancelbtn">Cancel</button>
<button id="createbtn">Create</button>



