<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
    <!-- Container wrapper -->
    <div class="container-fluid">
    
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <p class="brand">Service Charge</p>
        </a>
        
      </div>
      <!-- Collapsible wrapper -->
  
      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Icon -->
        <a class="link-secondary me-3" href="#">
          <i class="fas fa-shopping-cart"></i>
        </a>
  
        <div class="links">
       
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"  id="active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item"  id="active">
              <a class="nav-link" href="#">Ticket</a>
            </li>
            <li class="nav-item"  id="active">
              <a class="nav-link" href="#">Report</a>
            </li>
            <li class="nav-item"  id="active">
              <a class="nav-link" href="#">My Account</a>
              <div class="sub-menu">
                <ul>
                  <li><a href="#">Setting</a></li>
                  <li><a href="#">Sign Out</a></li>
                </ul>
              </div>
            </li>
          </ul>
         
        </div>
      </div>
    </div>
  </nav>
 


   
<div class="container">
    <p id="title">Ticket Management </p>
    <div id="btn1"> <button
        id="btnNew"
        className="btn"
        onClick={handleUserLogin}
        data-testid="send-user-login">New</button>
    </div>
    
 </div>

    
<div class="container">
    <p id="sub-text">Ticket List</p>
</div>



<div class="container">
  <div class="search">
    <input
              id="input"
              className="input"
              placeholder="Search"
              type="text"
              onChange={onChange}
          />
    <button id="searchbtn">Search</button>
  </div>
</div>



   

  